<%- include ../../layouts/header.ejs %>
   
    
                        <div class="page-container">
         <div class="row">
      <div class="col-md-11">
         <div style="border:1px solid #ddd;min-height:60px;padding:12px">
                      
           <div class="col-md-11">
              <form class="form-inline" role="form">
                  <div class="form-group"> Filter By : 
                    <select id="sort-by3" class="form-control">
                        <option value="">-</option>
                        <option value="id_calcule" <%= (curr_filt=='id_calcule') ? "selected=true" : "" %> >ID</option>
                         <option value="nom_boucle" <%= (curr_filt=='nom_boucle') ? "selected=true" : "" %>>Nom boucle</option>
                    </select>
                  </div>
                  <div class="form-group">
                     <input type="text" id="search-field3" class="form-control" placeholder="Search..." value="<%= curr_search %>">
                  </div>
                     
                    <a id="go-search3" class="btn btn-default btn-warning"><i class="fa fa-search"></i> </a>
                      
                   <div class="form-group pull-right">
    
                     <button id="btnExport" class="btn btn-info" >Exporter</button>
                   </div>
                </form>
           </div>
         </div>
     </div>
    </div><!-- /.row -->
      <div class="row">
            <div class="col-xs-11 col-sm-6 col-md-11">
   <table id="tblExport">
               
                <%  for(var j = 0;j < data1.length;j++) { %>
            <thead>
                 <tr>   <p></p>
    <td>  <span class="label label-default"><%=data1[j].nom_boucle %></span></td>
     </tr>
 </thead>
                <tbody>
 <tr>
               <td>  <div class="table-responsive" style="margin-top:5px">
                        <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id calcule</th>
                                <th>Source</th>
                                <th> Nom boucle </th>
                                <th>Poste 1 </th>
                                <th>Poste 2</th>
                                <th>Longueur</th>
                                <th>Section cable</th>
                                <th>Niveau tension</th>
                                <th>Coefficient</th>
                                <th>Puissance point</th>
                                <th>Puissance cumulee</th>
                                <th>Intensite</th>
                                <th>Chute tension</th>
                                <th>Delta cumulee</th>
                                <th>Delta U</th>
                               
                            </tr>
                        </thead>
                         <tbody>
                                     <% 
                                 
                                 for(var i = 0;i < data.length;i++) {
    if(data[i].nom_boucle.toString('utf-8').trim() == data1[j].nom_boucle.toString('utf-8').trim()){ %>
                                 
                                <tr>
                                 
                                    <td><%=data[i].id_calcule %></td>
                                     <td><%=data[i].id_source %></td>
                                      <td><%=data[i].nom_boucle %></td>
                                     <td><%=data[i].PT01 %></td>
                                     <td><%=data[i].PT02 %></td>
                                     <td><%=data[i].longueur %></td>
                                     <td><%=data[i].section_cable %></td>
                                     <td><%=data[i].niveau_tension %></td>
                                     <td><%=data[i].coefficient %></td>
                                     <td><%=data[i].puissance_point %></td>
                                     <td><%=data[i].puissance_cumulee %></td>
                                     <td><%=data[i].intensite %></td>
                                      <td><%=data[i].chute_tension %></td>
                                       <td><%=data[i].delta_cumulee %></td>
                                        <td><%=data[i].delta_u %></td>

                                  
                                </tr>
                            <% }} %>
                            
                             
                        </tbody>
                    </table>
                </div></td></tr>
                </tbody>
                 <% } %>
             
            </div>
        </div>
<%- include ../../layouts/footer.ejs %>
