<%- include ../../layouts/header.ejs %>
   
    <div class="page-container">
         <div class="row">
      <div class="col-md-11">
         <div style="border:1px solid #ddd;min-height:60px;padding:12px">
                      
           <div class="col-md-11">
              <form class="form-inline" role="form">
                  <div class="form-group"> Filter By : 
                    <select id="sort-by1" class="form-control">
                        <option value="">-</option>
                        <option value="id" <%= (curr_filt=='id') ? "selected=true" : "" %> >ID</option>
                         <option value="libelle" <%= (curr_filt=='libelle') ? "selected=true" : "" %>>Libelle</option>
                    </select>
                  </div>
                  <div class="form-group">
                     <input type="text" id="search-field1" class="form-control" placeholder="Search..." value="<%= curr_search %>">
                  </div>
                     
                    <a id="go-search1" class="btn btn-default btn-warning"><i class="fa fa-search"></i> </a>
                      
                   <div class="form-group pull-right">
                       <a href="javascript:void(0)"  class="btn btn-success" data-toggle="modal" data-target="#modal-source"><i class="fa fa-plus"></i> Ajouter une source</a>
                    
                       
                   </div>
                </form>
           </div>
         </div>
     </div>
    </div><!-- /.row -->
    
    
       <div class="row">
            <div class="col-xs-11 col-sm-6 col-md-11">
               
                <div class="table-responsive" style="margin-top:5px">
                        <table  class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libelle</th>
                                <th>Adresse</th>
                                <th>Puissance (MVA)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;
                                 
                                 for(var i = 0;i < data.length;i++) { %>
                                 
                                <tr>
                                    <td><%=no%></td>
                                    <td><%=data[i].libelle %></td>
                                     <td><%=data[i].adresse %></td>
                                     <td><%=data[i].puissance %></td>

                                    <td>
                                        <a href="javascript:void(0)" class="edit-source" data-source="<%=data[i].id%>,<%=data[i].libelle%>,<%=data[i].adresse%>,<%=data[i].puissance%>">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                        &nbsp;
                                        <a href="javascript:void(0)" onclick="delete_source(<%=data[i].id%>)">
                                            <i class="fa fa-times"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            <% no++; }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">Source introuvable</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <%- pagination %>
            </div>
        </div>
      
        <!--Modal-->
        <%- include modal_source.ejs %>
        
        
        
    </div> <!--end of page conatiner-->
<%- include ../../layouts/footer.ejs %>
