<%- include ../../layouts/header.ejs %>
   
    
                        <div class="page-container">
         <div class="row">
      <div class="col-md-11">
         <div style="border:1px solid #ddd;min-height:60px;padding:12px">
                      
           <div class="col-md-11">
              <form class="form-inline" role="form">
                  <div class="form-group"> Filter By : 
                    <select id="sort-by2" class="form-control">
                        <option value="">-</option>
                        <option value="id" <%= (curr_filt=='id') ? "selected=true" : "" %> >ID</option>
                         <option value="PT01" <%= (curr_filt=='PT01') ? "selected=true" : "" %>>PT01</option>
                    </select>
                  </div>
                  <div class="form-group">
                     <input type="text" id="search-field1" class="form-control" placeholder="Search..." value="<%= curr_search %>">
                  </div>
                     
                    <a id="go-search1" class="btn btn-default btn-warning"><i class="fa fa-search"></i> </a>
                      
                   <div class="form-group pull-right">
                       <a href="javascript:void(0)" id="add" class="btn btn-success" data-toggle="modal" data-target="#modal-calcule"><i class="fa fa-plus"></i> Ajouter une note de calcule</a>
                                          <a href="/calcule/"  class="btn btn-info"><i class="fa fa-expand"></i> Importer</a>
                       <a href="/calcule/"  class="btn btn-info"><i class="fa fa-expand"></i> Exporter</a>
                   </div>
                </form>
           </div>
         </div>
     </div>
    </div><!-- /.row -->
  <div>
      <div class="row">
            <div class="col-xs-11 col-sm-6 col-md-11">
               
                <div class="table-responsive" style="margin-top:5px">
                        <table id="mytable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id calcule</th>
                                <th>Nom boucle</th>
                                <th>Poste 1 </th>
                                <th>Poste 2</th>
                                <th>Longueur (m)</th>
                                <th></th>
                                
                               
                            </tr>
                            <tbody>
                            <% if(data2.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;
                                 for(var i = 0;i < data2.length;i++) {%>
                                <tr>

                                      <td> <label for="calcule_id"><%=data2[i].id_calcule %></label></td>
                                      <td><%=data2[i].nom_boucle %></td>
                                      <td><%=data2[i].PT01 %></td>
                                      <td><%=data2[i].PT02 %></td>
                                     <td><%=data2[i].longueur %></td>
                                    

                                     <td>

                                         <a href="javascript:void(0)" id="edit" class="edit-calcule" data-calcule="<%=data2[i].id_calcule%>,<%=data2[i].nom_boucle%>,<%=data2[i].PT01%>,<%=data2[i].PT02%>">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                     </td>
                                </tr>
                             <% no++; }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">calcule introuvable</td>
                                 </tr>
                            <% } %>
                            </tbody>
                        </thead>
                        
                    </table>
                </div>
                 <%- pagination %>
            </div>
        </div>
</div>
        <%- include modal_calcule.ejs %>
       
         
<%- include ../../layouts/footer.ejs %>
